<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="showNavbar && isAuthenticated()">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" [routerLink]="['/home']">
      <span class="fw-bold">Vend.ia</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [class.active]="currentRoute === '/home'" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product-description-generator']" [class.active]="currentRoute === '/product-description-generator'">Gerador</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" [routerLink]="['/admin-panel']" [class.active]="currentRoute.includes('/admin-panel')">Admin</a>
        </li>
      </ul>
      <button class="btn btn-outline-light d-flex align-items-center" (click)="logout()">
        <i class="bi bi-box-arrow-left me-2"></i> Sair
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>